[2018-08-08 09:43] 25Shubham96 opened #1 "I want to import the library in my project"
please provide me the link through which i can import your library in my project

[2018-08-08 10:04] Alikaraki95 commented on #1
This isn't a library tho, it's a full project. Just download the .zip and import it via Android Studio.

[2018-08-09 13:17] 25Shubham96 commented on #1
Hello @Alikaraki95,
Can you help me with how you have imported the @abumoallim "Android-Multi-Select-Dialog" library in your project and changed some of the codes in the library according to your use.

[2018-08-18 10:47] Alikaraki95 commented on #1
@25Shubham96 that edited library is called "Library" in my project directory, you can grab it by simply importing that folder to your own project. You don't need to add anything just import that Library folder and sync your project. If you need any further assistance reply here :)

[2018-09-03 22:30] Alikaraki95 commented on #1
@25Shubham96 Did you fix your issue? Shall i close this?

[2018-09-05 10:09] 25Shubham96 commented on #1
Hello @Alikaraki95 , thanks for your time, I have fixed all my issues a month ago by googling it all, I have done the similar things that you have suggested in the previous comment and modified it according to my need thanks once again, your code helped me a lot.

Yes, you can close this issue/question.

[2018-09-05 10:17] Alikaraki95 commented on #1
Thanks & Good Luck.

[2018-09-05 10:17] #1 closed

[2018-09-10 06:34] japhir opened #3 "Countdown of timer stops when phone goes to sleep"
I started a 30 min test yesterday evening to see how the app worked and to stop me from browsing Reddit before bed 😉. However, when I woke up it still had 17 minutes to go. After playing around for a bit, it appears that the timer doesn't continue once the screen goes idle. I have turned off battery optimisation for the app. Cheers!

EDIT: I'm on Android 8.1.0 on a Nexus 5x (hammerhead)

[2018-09-10 11:02] ad2003 opened #4 "Feedback"
Hi there!
Great app and a lot of potential.

Here comes some feedback:

- App Groups / Profiles and a shortcode to lock a specific group of apps of a category instantly for a specific amount of time.
- longer lock times - 3hours is nice - but a custom amount would be helpful
- show locked apps in Toast or in App under Lock Selected Apps button

the app keeps me asking "disable battery optimization

[2018-09-10 11:14] Alikaraki95 commented on #4
@ad2003 Hey man, thank for the positive feedback and feature requests!

The ones that i can possibly do _Fast_, are:

- longer lock times - 3hours is nice - but a custom amount would be helpful
- show locked apps in Toast or in App under Lock Selected Apps button

I think i'll make a separate screen to show already selected apps, with icons - just a screen with no buttons where you can check what

[2018-09-11 10:30] japhir commented on #3
Ahh that could be it, just ran it for 30 minutes and it went fine in idle mode. Cheers

[2018-09-12 10:11] ad2003 commented on #4
there is not a real bug. I found the problem. I thought I turned off battery optimisation but instead it was still turned on - but I gave permission to get App Status / Usage. The next time I opened the app it asks me again for both - turn off battery optmisation and App Status / Usage -  so I thought it was not working. It works now.

Some more suggestios:
let apps been added to a running Lock. L

[2018-09-12 10:39] Alikaraki95 commented on #4
@ad2003

Hey,

I just released a new version with Currently Selected Apps

I will add _Time used in this app: XXX_ in a toast or next to the app version later on.

Regarding your new requests:

- Shortcuts/widgets is a really cool idea. I might as well do it, added to my feature list.
- Turning off data. airplane mode etc.. is a system wide feature - it'll take me some time, also, it needs more sy

[2018-09-13 06:49] japhir commented on #3
I reproduced it by:
- Turn on the 30 minute blocker at a quarter to twelve
- turn on airplane mode (went to bed) and sleep tracking
- wake up to find the timer still running
- turn off airplane mode
- timer doesn't run in the background, only when the app is open? Not sure.

[2018-09-13 06:52] japhir commented on #3
Also, the time display is weird sometimes, it displayed, for example: 15:2:03 (in stead of 15:02:03).

[2018-09-13 08:03] Alikaraki95 commented on #3
@japhir Hey

The timer should work perfectly fine even if the app is closed/in background.

I'll be testing it regarding airplane mode or so, given that the app has nothing to do with wireless / data connectivity. Thanks for the feedback, i'll work on it when i'm available!

And the time display, that is intended. I can make a setting to show both ways, if you want :)

[2018-09-14 20:05] fosshelper opened #5 "Device admin permission to prevent uninstallation"
Thanks for this app. Please consider making the app require the device admin permission to prevent uninstallation when a block is going on. This would make such an app really effective.

[2018-09-14 20:18] Alikaraki95 commented on #5
Hey,

Thanks for the feedback & feature request.

Do you think that'll be accepted by everyon who's using it ? If i can make it selectable ( so people can enable/disable it whenever they want ) then yes, i will add it.

Please note: i develope this app by myself and i do it in my free time, updates/ new features might take some time.

Thanks again & regards,
Ali.

[2018-09-16 04:30] IceWreck opened #6 "Doesn't Work in Split Screen Mode"
When using Android's split screen mode, the app remains open and usable in half the screen and Getoffyourphone pops open in the other half. Please fix this.
Also, thanks for building this app.

[2018-09-16 05:53] Alikaraki95 commented on #6
Oh, thanks for the report. I'll add it to the bugs list! Can you add a screenshot?

[2018-09-18 19:11] twingenious opened #7 "New logo for your project"
Hello! 😃 I'm a designer, happy to contribute to open source projects and I think that a new logo for your project would be awesome

So, if you agree with this you can tell me what ideas you have for this or what are your expectations for a logo that could be fitted with the project.

I want to remember that this is totally free and this has not any compromise or something, so you can say no or sto

[2018-09-18 19:31] Alikaraki95 commented on #7
@twingenious Hey!

That's absolutely wonderful & kind if you! Yes of course I'd like a new logo! Do you have any thoughts in mind?

How did you find my project? Man you made my day :grin: !

My old logo was a bit small and a low resolution, it was a clock on fire ( burning ) that i found online as a template, and then changed it to the current one. Btw my app got removed off app store (temporarily

[2018-09-18 20:46] twingenious commented on #7
Perfect! 😉 let's start.
well, I found your project looking for new repositories of apps that have a cool idea but need a bit of help with the design part💪.

the idea is that the logo looks minimalist but at the same time original.

I think that the padlock and the clock are minimalist, but they look generic, so can have a confusion with a google icon.

[2018-09-18 23:08] Alikaraki95 commented on #7
The Hero we need :stuck_out_tongue_closed_eyes:

I'm open to any design you offer! You can draw a template or something so you won't work hard on it before we agree :) sounds good? I mean, whatever you're comfortable with :blush:

[2018-09-19 00:00] twingenious commented on #7
![firstidea](https://user-images.githubusercontent.com/43223329/45722611-2b804c00-bb7b-11e8-83e3-7453d07d9da9.png)

what do you think about this idea?☝️
this is a concept that I have imagined,  and I think that this fits without overload the icon or to be hard to see.

the four squares represent the applications of your mobile and in the center like a padlock but in a different way, that wraps up

[2018-09-19 00:43] Alikaraki95 commented on #7
That looks smart. I like it. However, will the boxes stay colored or are you going to replace them with sample apps ?

I love the chains too! ( If the can be properly visible )

[2018-09-19 01:16] twingenious commented on #7
The boxes will have a simple icon of most relevant applications that a mobile has, such as the settings, music, calls, etc.

but without copying from other icons, just like representative shapes of their meaning.

[2018-09-19 08:00] Alikaraki95 commented on #7
Love the concept then! @twingenious

[2018-09-20 00:26] twingenious commented on #7
![getoffyourphone](https://user-images.githubusercontent.com/43223329/45788707-21794e80-bc4a-11e8-9721-3df8a3209359.png)

what do you think? do you like the colors?

[2018-09-20 18:06] Alikaraki95 commented on #7
@twingenious it looks great. Just the lower left green is too bright! Maybe try to tone it down or try to make the colors match my app theme? It's a blackout, with only blue, and the icon is shown inside the app as well.

[2018-09-20 18:28] twingenious commented on #7
Sure, you are right, what you say if we try with a blue scale? , I mean , that the colors of the boxes with a blue scale, I thought about a grey or black scale but as you say , the logo is showed within the app in which is already dark

[2018-09-20 18:36] twingenious commented on #7
Can you tell me the hexadecimal color of the blue that you use or you want to use?
Or any other color that you want to use

[2018-09-20 18:42] Alikaraki95 commented on #7
Sure. I'm not home right now, but from my colors.xml, this is the hex i'm using #1E88E5 , it doesn't have to be black or white, but just a bit blue to go along with the theme :) i hope this isn't too much for you :smile:

[2018-09-20 18:57] twingenious commented on #7
@Alikaraki95 the opposite sir, because there isn't grace in a logo that you don't want to use. the idea is that you think that the logo fits totally with your project.

[2018-09-21 00:39] twingenious commented on #7
![sizes](https://user-images.githubusercontent.com/43223329/45853792-3c64c500-bd15-11e8-85a6-4dce701b47b2.png)

[2018-09-21 07:17] Alikaraki95 commented on #7
@twingenious i love it :) Looks perfect now! Do you like it?

[2018-09-21 13:39] twingenious commented on #7
I like a lot and I'm glad that you love it too😜.
I will make the pull request with the images in their respective resolutions for merge it with your project😎

[2018-09-21 14:15] Alikaraki95 commented on #7
@twingenious Awesome. Before you pr, i wanna ask if the yellow fade is intended ?

[2018-09-21 14:29] twingenious commented on #7
no bro just was a mistake adding the colors, one of the channels of the RGB had a wrong value, but it is already fixed.😆

[2018-09-21 14:35] twingenious commented on #7
![sizes](https://user-images.githubusercontent.com/43223329/45887571-0877b700-bd8a-11e8-9fad-ba3a6cfbb09c.png)

Check bro

[2018-09-21 15:41] Alikaraki95 commented on #7
@twingenious This looks fantastic!

[2018-09-21 18:44] Alikaraki95 commented on #7
[Merged](https://github.com/Alikaraki95/Getoffyourphone/commit/b10b15534fc3088def2ddf9a9f2ed1ed3b26a786)

Thank you so much! I'll release the next version soon, but it'll take a lot of time. I will also change the banner and screenshots in PS. Next update's gonna take some time, lots of changes ( if i manage to succeed with implementations ).

Again, thank you so much mate! :smile: @twingenious

[2018-09-21 18:45] #7 closed

[2018-09-21 19:42] twingenious commented on #7
Thanks to you, I appreciate it

[2018-09-22 12:45] neomodern opened #9 "Rename "desired counter""
It's not that clear that this is just the number of times until the motivation image is shown.

Maybe something like "No. of attempts until image".

[2018-09-22 14:03] Alikaraki95 commented on #9
You're right. I've been meaning to change this for a long time, thanks for the reminder!

Idea: do you think Totally removing this will affect anyone? I might remove this feature once and for all.

[2018-09-23 19:06] neomodern commented on #9
I like the idea just not how it's implemented. It might be best to instead have it as a setting on another screen e.g. "show motivational image after x locked app open attempts"

[2018-09-24 15:48] iexos opened #10 "Sound or Vibrate on open"
Hi,

I would like to have a stronger backlash when trying to use locked down apps. An option for vibrate and/or sound would be nice. (Personally i would use vibrate only, but sound could be useful as well to leverage social embarressment :))

[2018-09-24 15:59] Alikaraki95 commented on #10
Actually that's brilliant! I'll add it next update. Thanks!

[2018-09-24 20:38] CorentinDy opened #11 "How to add selected app"
Hi,
I'm maybe missing something but I don't find how to add apps to lock..

[2018-09-24 22:03] Alikaraki95 commented on #11
Hey!

To add apps:

1- Slide left drawer
2- click on Select Apps
3- Pick whatever app you want
4- Profit?

[2018-09-25 13:28] CorentinDy commented on #11
Well I feel dumb !
I thought the mark was here to show that was the menu corresponding to the current view ..

Thanks 👍

[2018-09-25 13:28] #11 closed

[2018-09-27 17:00] fosshelper commented on #5
Please take your time. You are already doing us a service by providing an app of value in _your own_ time.

[2018-09-30 20:10] Alikaraki95 commented on #10
@iexos I'll be closing this now, feature already added :+1:

Will be in release 6.0r, thankyou so much for the suggestion.

[2018-09-30 20:10] #10 closed

[2018-09-30 20:12] Alikaraki95 commented on #9
I'll close this issue now, as this has been removed in the upcoming release (6.0r)!

Thankyou so much for the suggestion, it made me make a whole new feature because of it. :+1:

[2018-09-30 20:12] #9 closed

[2018-09-30 20:13] Alikaraki95 commented on #3
@japhir Are you still experiencing the issue?

[2018-10-01 06:51] japhir commented on #3
I think the issue is the same as the other one, it flips out a little if you set the timer before 00:00. So if there's an issue for that, this can be closed.

Haven't used the app much because I decided to just remove the addictive apps from my phone 😉

[2018-10-01 11:32] Alikaraki95 commented on #5
@fosshelper I've been doing a lot of research. Unfortunatly, you can't automatically activate/deactive Device admin permissions to disable uninstallation. So, i can't enable this whenver i want and disable it whenever i want ( like you suggested, prevent unisntallation only when the lock is running. )

Do you have any other requests :) ?

[2018-10-01 11:37] Alikaraki95 commented on #3
@japhir Okay, thanks! I found the source of this bug, however, i'm unable to fix it fast. I'll be looking into it more. I will release a version soon without this fix so i can work on it :)

[2018-10-01 13:32] Alikaraki95 commented on #4
@ad2003

That's done, along with some other features. :)

Left:

- Shortcut/Widget
- Groups/Profiles
- Reverse lock
- Custom Timers

[2018-10-03 00:10] makmm opened #12 "Spanish translation"
Hello! I would like to contribute doing a spanish translation. Is there an easy way to do that? Thanks!

[2018-10-03 06:40] Alikaraki95 commented on #12
Hey there!

Yes, it's super easy! Fork the project,  grab the strings.xml file and translate it, then put it inside a new folder in res/values-XX , where XX is the language code you're using.

Here's a [Helpful comment](https://stackoverflow.com/a/23736910) in case you had any trouble.

[2018-10-04 02:28] fosshelper commented on #5
I mean, your app has to ask for permission to become a device administrator (much like other permissions). I don't think you can activate device admin permission whenever (you might be able to deactivate it whenever but I am not sure). In particular, one can keep a toggle box in Settings saying "Prevent uninstallation? Activate Device Admin..." and then your app could ask for device admin permissi

[2018-10-05 10:47] makmm commented on #12
Thanks! Should I translate the huge changelog string and the name of the app? @Alikaraki95

[2018-10-07 10:35] Alikaraki95 opened #13 "Usage Stats are wrong"
Dear Users,

I've found a bug in the newly implemented usage stats ( in Selected Apps screen ), i'll be updating it with the new release.

Bug: Numbers sometimes do not update, or stay the same from 1 day to another.
Expected: Numbers should reset every day, stats should be saved/shown second by second.

[2018-10-09 12:38] #12 closed

[2018-10-11 18:32] Alikaraki95 commented on #6
@IceWreck Thanks for the suggestion and feedback! I tried it and i understand you're problem, it happened to me too. I'm really busy lately, but I'll implement your suggestion soon. Thanks again!

[2018-10-14 12:54] iexos opened #15 "Vibrate only once"
I like the vibration feature,however there is no need to keep vibrating when the lock activity is on. I think Once is enough :)

Also, right now it is a very soft vibration in the first second, but I feel there should be a strong initial vibration and then stop.

[2018-10-14 12:58] iexos opened #16 "Block app faster, before its visible"
Maybe this one is unrealistic in the way this app works, but it would be awesome if selecting a blocked app goes directly to the "locked" activity without showing the blocked app before. Or at least make the time between open and locked as short as possible.

Right now i have enough time to hit refresh when opening apps :P

[2018-10-14 13:08] iexos commented on #5
Well, its possible to stop the lock effect by Force Stopping the app. I dont think there is any way around that, you will always be able to disable the lock if you really want to. I think of this app more as an impulse-stopper than a rootkit that is locking me out ;)

[2018-10-15 17:50] Alikaraki95 commented on #15
Hey! Thanks for feedback.

The vibration was a requested feature here, but without parameters. I implemented it as a default now, but will improve it later on, such as your issue :)

[2018-10-15 17:50] Alikaraki95 commented on #15
@iexos Hey! Thanks for feedback.

The vibration was a requested feature here, but without parameters. I implemented it as a default now, but will improve it later on, such as your issue :)

[2018-10-15 17:51] Alikaraki95 commented on #16
@iexos honestly I'm not sure if the mechanism i have already implemented can be any faster, but if so - i shall do it :) maybe i can show a dialog the blocks pressing instead of a new locks screen!

[2018-10-15 17:54] Alikaraki95 commented on #5
@iexos true, to some instant. I might be able to resume the timer after a force stop (doubt it) but it's a complex service, and i really need to research it before starting editing it :)

[2018-10-15 17:55] Alikaraki95 commented on #5
@fosshelper By settings app you mean for GOYP only or general phone settings? If so, I really doubt I'll be adding a feature that blocks settings app for everyone, ever if it's something that users opt in!

[2018-10-15 18:02] fosshelper commented on #5
@Alikaraki95 The settings app (I mean general phone settings) is like any other app -- if you design your app to be able to block any app, the same applies to the settings app as well. Of course, users have the choice of blocking the settings app or not.

Anyway, that's the only way this is going to be an effective block, since as @iexos pointed out, one can easily bypass the blocks by force stopp

[2018-10-15 18:06] Alikaraki95 commented on #5
@fosshelper True, but i don't think it's a good aproach to Block Settings app - after all, if the app gets bugged or haywire for some reason, users will be blocked up and will need a phone restart, only because of GOYP. Get what i mean ?

I'll try a beta version of Admin Permissions and send it to you later, as i can't develop at the moment duo to personal reasons ( Life :( )

[2018-10-15 18:38] fosshelper commented on #5
@Alikaraki95 I understand your concerns. It indeed does require a trust on the working of your app. But for better or for worse, that's how all self regulation software works. You give it higher privileges to be able to regulate you, but you need to trust that it won't seriously malfunction.

For advanced users, there are of course other ways to take care of such a situation. Once one has adb set

[2018-10-15 18:47] Alikaraki95 commented on #5
@fosshelper my only concern is the bug where the lock is broken/acts crazy and adds several hours when some user starts the lockdown BEFORE midnight 00:00, and this is a serious bug that i didn't find a solution for yet. It's related to the format + Time service, i know where the issue is but can't figure out an easy fix at the moment. When that is fixed, Admin Permissions will be officially relea

[2018-10-15 19:25] ewuoso opened #17 "Privacy Policy"
Your project should have a privacy policy section.  I can create one for you if you want

[2018-10-15 21:35] ewuoso opened #18 "FAQ"
Had to download your app.  After using it I found it useful.  I lock whatsapp because it distracts me from doing things that need to be done.  I noticed there is no Frequently asked questions section in the app. I am a copywriter, if you don't mind I can draft knew for you

[2018-10-15 21:36] ewuoso commented on #17
Sorryi meant to say FAQ.  You can close this issue.  I opened another one based in FAQ  thanks

[2018-10-16 05:40] #17 closed

[2018-10-16 05:42] Alikaraki95 commented on #18
@ewuoso Oh! Okay then feel free to do so, would be much appreciated :grin: !

Thanks for the positive feedback, too.

[2018-10-30 15:22] cckole opened #20 "Extend lock time,app lock timeout and ability to select and lock more apps when some are under lock on get off my phone"
### COMPONENTS
Get off my phone is an offline open source app that controls excessive app usage with an app blocker. It allows users to end procrastination with simple app lockdown for a chosen time. Selected mobile apps can be locked, depending on the selected time by the user as available on the app between 30 minutes and 3 hours. The desired state can also be selected if the user wishes to turn

[2018-10-30 16:34] Alikaraki95 commented on #20
@cckole Thank you so much for taking your time writing this in detail. This isn't the first time

Has been mentioned, so i will definitely add it!

as for

I never thought of this, i will look into it! This will be a very good feature if implemented.

In regards of

I'm not sure if this should be added, i mean, YES, the user who uses this app is trying to set limits to his/her procrastination - ho

[2018-10-31 17:12] cckole commented on #20
Thank you very much for the sweet reply

[2018-11-18 21:37] macbrayne opened #21 "Suggestion: Auto on / auto off rules"
I would like to suggest implementing a customisable time based auto block feature. E.g. from 8pm to 7am block YouTube.

P. S. Great work. Thank you so much for developing this app in your free time!

[2018-12-06 07:32] iexos opened #22 "Blocks forever if end should be after midnight"
Once it hits midnight, the blocking duration extends by 24h.

[2018-12-06 10:12] Alikaraki95 commented on #21
Thank you for your feedback! This feature has already been requested, however, i am very busy at the moment (Life, work etc.. ) and I've halted the development of the project, please be patient :)

[2018-12-06 10:13] Alikaraki95 commented on #22
Thank you for your feedback! This issue/bug has already been reported, however, i am very busy at the moment (Life, work etc.. ) and I've halted the development of the project, please be patient :)

[2018-12-21 17:41] trymeouteh opened #23 "Light Theme"
Please add a light theme for the app.

[2018-12-21 17:43] trymeouteh opened #24 "Feature Request: Password Override"
Please add a feature for when you open a app and the lock screen appears you can enter a password and gain access to that app for X amount of minutes.

[2018-12-29 23:12] Breakfastisready opened #25 "Request: Please fix the issues"
Dear Developer,

I know this is a duplicate.

I am a student and my cell-phone addiction is eating away my life. This app is full of bugs but is probably the only one of it's kind out there on Android. Please fix the app and I promise I will donate you in whatever capacity I can!

The major issue is the bug that makes the timer go crazy in the night. This issue has been reported by many other user

[2018-12-30 11:15] Alikaraki95 commented on #25
@Breakfastisready

Thankyou for your sincere suggestion. I'm still working on other things in life and can't find proper time for the project, however - i will start back at again in the following weeks. I will be working on the Night-Time bug first as it's the most important bug for now!

Please be patient & Happy Holidays!

[2018-12-30 11:16] Alikaraki95 commented on #24
Thanks a lot for the suggestion :smile: I'll mark this as a feature request.

[2018-12-30 11:17] Alikaraki95 commented on #23
The app used to be light-themed. I'll add an option for that again :) Thanks!

[2019-01-02 00:03] Alikaraki95 commented on #25
@Breakfastisready

Hey!

I'll be releasing a test version with the new fix very soon, i hope you can give me some feedback after testing it and see if this issue has been fixed accordingly!

Sorry for the delays.

[2019-01-02 09:57] Alikaraki95 commented on #22
@iexos

Hey!

I'll be releasing a test version with the new fix very soon, i hope you can give me some feedback after testing it and see if this issue has been fixed accordingly!

Sorry for the delays.

[2019-01-03 01:20] Alikaraki95 commented on #25
Closed for the moment as i have released a fix for it. If the issue comes back i'll re-open the ticket. Thanks!

[2019-01-03 01:20] #25 closed

[2019-01-03 01:20] Alikaraki95 commented on #22
Closed for the moment as i have released a fix for it. If the issue comes back i'll re-open the ticket. Thanks!

[2019-01-03 01:20] #22 closed

[2019-01-03 01:21] Alikaraki95 commented on #3
Closed for the moment as i have released a fix for it. If the issue comes back i'll re-open the ticket. Thanks!

[2019-01-03 01:21] #3 closed

[2019-01-03 08:17] Breakfastisready commented on #25
Did you roll out the update on F-Droid?

[2019-01-03 08:18] Alikaraki95 commented on #25
@Breakfastisready

Yes. Takes about 5 days fir F-droid to pick it up, maybe less :smile:

[2019-01-03 13:37] Alikaraki95 commented on #25
@Breakfastisready

You can download the update from here btw. F-droid merges all changes from Github, so te release i uploaded here is the same one used in F-droid - except the signature. Just thought I'd mention that :)

Please tell me if the issue is fixed once you test it? I tested it on my devices and it worked just fine.

[2019-01-04 15:40] aksratamo opened #26 "Feature request reverse timer."
Hi! I love your app. But one feature that I would love it to have is that you would could
Set a allowed use time per day for example
Whatsapp locks after 1h of use.

I know that this is how googles wellbeing works but its just spyware so no thanks.
I would be interested in also donating if there is an option

[2019-01-05 19:39] iexos opened #27 "Complains that timer is already running when it isnt"
I cant give you many more details, the title says it all. I suspect that the service is stopping in a way that is not expected.

[2019-01-05 19:43] iexos commented on #27
Easy way to reproduce: start the service, go to App Info and "Force Stop". Best practice is to check if the service is actually alive.

[2019-01-05 21:17] Alikaraki95 commented on #27
@iexos

It indeed happens when the service stops unexpectedly. This happens when either: System force stops the app by itslef - User force stops the app - phone restart.

Can you tell me:

- Your phone, your OS version
- If you restarted the phone by any chance?

[2019-01-06 07:37] Breakfastisready opened #28 "How to donate?"
I see that there is a Donation App on the Google Play store to raise funds. Is there any other way to donate if someone doesn't want to contribute money to Google, like PayPal for example?

[2019-01-06 09:44] Alikaraki95 commented on #28
Sorry i couldn't reply to you about this earlier. I've added a new donate button in Readme. Donations are very much appreciated, but not needed.

Thanks for showing positive feedback, means a lot!

[2019-01-06 09:44] #28 closed

[2019-01-06 09:45] Alikaraki95 commented on #27
@iexos Yep, that explains it! I will make a OnReboot detection that resets the service if the phone battery dies/reboot happens.

Thanks a lot :)

[2019-01-06 15:14] iexos commented on #27
I would be in favor of detecting the force stop as well. For example i already had this situation: i block my email app so i dont check constantly, but then i know an important email arrives that i have to check. I force stop the app to access my email, but then i have to reinstall your app again as its useless otherwise.

I can see the other argument though, that you might want to force the user

[2019-01-06 15:30] Alikaraki95 commented on #27
@iexos

I see your point.

When this happens, you don't need to reinstall the app, you can just clear app data and it works just fine ( you have to select apps again, tho. )

Detecting a phone reboot is easy, but it's almost impossible to detect a force stop ( that's the whole idea of a force stop. But I'll implement something very smart and silly :p )

I'll make a button that says : Fix Timer Alr

[2019-01-06 15:48] iexos commented on #27
(Maybe you didnt see my edit ;) )

Wouldnt that button would be functionally "stop blocking apps"? If not, its fine for me as a workaround

[2019-01-06 15:59] Alikaraki95 commented on #27
@iexos

Oh my bad, well, i can make a few workarounds and test all scenarios first! If i find a working one I'll give it a shot :)

And yes settings are lost, i believe i made it that way for a while to avoid a database crash. I'll fix it later :)

[2019-01-07 08:32] moshpirit opened #29 "Is there any way to stop these apps from sending notifications?"
Is like not to be distracted by these apps and I think a wonderful way to do it would be forcing these apps not to show me anything at all.

[2019-01-07 09:33] moshpirit commented on #29
I would include a button, though. I like to always have the option to choose what do I want, but thank you so much!!

[2019-01-07 09:34] Alikaraki95 commented on #29
@moshpirit alright no worries, gotcha :smile:

[2019-01-07 11:04] iexos opened #30 "Turn off GOYP notifications"
Another feature request :)

I do not want to get notifications from this app. The starting notification is superfluous, because I know that I just started it. And the ending notification is saying "Hey look, all these apps you shouldnt use all the time are accessible again!". Maybe its a matter of what you are trying to achieve which this app, but I would like to reduce overall usage aside from co

[2019-01-07 11:15] Alikaraki95 commented on #30
The reason i included these features was to inform the users about the settings they selected, in case they just forgot about them ( That's why you can dismiss them and they're not ongoing )

However i'll keep that in mind :) Will add it to the new settings screen. I'm making a new settings screen that will include (for now) the following:

- App Theme (Dark/Lite)
- Block Notifications from locked

[2019-01-07 13:52] Alikaraki95 commented on #27
@iexos

- Feature has been implemented (Phone Reboot detection )

I can't detect a user force stop,  so, i'll leave it as a hassle and punishment for users who force stop the app, so they'll have to: Clear app data > Edit the settings again > Select apps again, which, eventually, might encourage them not to force stop :)

Patch is in the upcoming v6.2r. Issue closed for now!

Thanks.

[2019-01-07 13:52] #27 closed

[2019-01-08 01:48] Alikaraki95 commented on #30
@iexos

Feature Completed - Will be in upcoming v6.2r

Thanks!

[2019-01-08 01:48] #30 closed

[2019-01-08 01:49] Alikaraki95 commented on #29
@moshpirit
Feature Completed (M+ Only) - Will be added in v6.2r

Thanks!

[2019-01-08 01:49] #29 closed

[2019-01-08 01:49] Alikaraki95 commented on #23
@trymeouteh
Feature completed. Will be added in c6.2r

Thanks!

[2019-01-08 01:49] #23 closed

[2019-01-08 16:14] iexos commented on #22
Its fixed for me :)

[2019-01-08 16:49] Alikaraki95 commented on #22
@iexos Awesome! I've got some new goodies  very soon :) PROBABLY this weekend v7 ( or v6.5r ) should be ready :)

Thanks again ^^ Good day.

[2019-01-09 12:41] Alikaraki95 opened #31 "Fix Apps & Settings being cleared on Update"
With every new update, Selected Apps are being cleared and the current settings are reverted back to default (Selected Timer, Selected State)

### **Why?**
- Avoiding any overlapping data or wrong data from previous versions

### **What to do?**
- Will be working on a fix for this so data will remain untouched, no need for resetting data after every app version update

[2019-01-15 11:15] traceur920 opened #33 "No app shown despite permissions (mistake were made)"
My bad, I was blind. Didn't see the left menu.
Marking as closed.

[2019-01-15 11:22] #33 closed

[2019-01-15 16:12] Alikaraki95 commented on #33
@traceur920

Actually, this is my bad! I'll have to add an action bar and show the users that there's something on the left side! My bad.

Thanks for the report.

[2019-01-16 17:44] traceur920 commented on #33
That's actually a good idea.

Anyway I've now what I think is a real issue with the app.
On Oneplus 3T (OxygenOS) I've run the timer a couple of times and, after the set amount of time had passed, I've seen my wifi toggle reverting to "on" status but as soon as I've tried to open a locked app, the "locked" screen popped up with no timer at all and simply won't leave until I would force kill the Ge

[2019-01-16 18:18] Alikaraki95 commented on #33
@traceur920

Hmm. That's indeed weird! Never seen it before. Did you try opening GOYP itself? What do you see inside it when that happens? That usually means the timer service didn't stop properly.

Next time this happens can you please tell me what do you see when you open it? Thanks for the report!

[2019-01-16 19:55] traceur920 commented on #33
If I do not open the app, the behavior is what already shown, and seems to go on indefinitely.

If instead (at some time after the timer runs out) I try to open GOYP, it simply acts like normal, saying that no timer Is running and ready to go for another one, and the activity "locked" stops from showing up on previously locked apps.
Will report if something different occurs!

[2019-01-16 22:50] Alikaraki95 commented on #33
So everything works fine if you open the app before you try to open a previously locked app.. okay. Please tell me if this occurres again :) I think i know why this is happening.

[2019-01-17 11:06] moshpirit commented on #29
Hi again! I saw the last version and it's great but I meant to just hide the notifications of the selected apps, not all notifications 😅

[2019-01-17 11:14] Alikaraki95 commented on #29
@moshpirit

Hey! I know that was what you asked for, but i'm still hesitant whether i implement that or not. Reason?

Letting the app block specific notifications means my app will have access to all your notifications, with a NotificationListener , and this isn't really likable even from my side. I don't know if you get my point, but this basically means the app will have access even to your actu

[2019-01-17 12:16] moshpirit commented on #29
OK thanks! Seems like a black o white decision, so I think you chose well. What a pity there's no middle ground. I'll research on the Internet when I finish my exams. Maybe there's a solution for this :)

Disclaimer: people don't trusting the app seems kind of dumb since the app is free software but I understand the point though. Thanks a lot for explaining it to me!
Have a nice day!

[2019-01-17 17:17] traceur920 commented on #33
As a side note, I understand your decision to not change the "timer is already running" as a punishment when someone kills the app, but this is the third time that I have to go through the hassle of choosing which app to lock because I've inadvertently closed all the recent apps from my phone (and so I've killed the GOYP itself) and I'm starting to think that a "fix/reset timer" button should be p

[2019-01-17 22:47] Poussinou commented on #26
Just to let you know, there is [some demand](https://www.reddit.com/r/fossdroid/comments/ah3atg/time_limit_for_using_apps/) for this functionality ;)

[2019-01-17 22:54] Alikaraki95 commented on #26
@Poussinou

Oh haha, thanks a lot for the mention! Yeah, hopefully I'll finish this first. A lot of features as you can see and very little time :persevere:

[2019-01-17 23:10] Alikaraki95 commented on #33
@traceur920

I understand your point very clearly.

But you need to understand that such a button can and be also used to just get out of lockdown.. I'll actually test it out :) if it works and users use it only to FIX such an issue instead of just canceling the lockdown , I'll leave it.

Sorry if you're encountering these annoying bugs, I'll try and tackle things down.

Thankyou for reporting and

[2019-01-18 09:15] ajvsol opened #34 "FR: Floating timer on selected apps"
It would be a great constant visual reminder to help you get off your phone quicker. I like the design of the feature in a proprietary app I saw:

![](https://i.imgur.com/PkhroOk.png)

Very small and unobtrusive. It also can be clicked to drag around and place on other areas of the screen.

[2019-01-18 09:17] ajvsol commented on #34
Ah forgot to mention this is related to #26

[2019-01-22 13:21] Alikaraki95 commented on #34
@ajvsol

Thanks a lot for the suggestion. This looks like a very interesting idea!

[2019-01-22 13:23] Alikaraki95 opened #35 "Add action bar Hamburger icon to show right side drawer better."
Currently it's not straight-forward that there's a right side drawer. Need to bring back action bar or give information on first installation that there's a drawer.

[2019-01-23 00:00] ReleaseTheKnowledge opened #36 "Add option for whitelist mode"
It would be awesome to have an option to whitelist apps instead of blacklisting. Everything is blocked except what you choose. Then it's easier to only allow the essential apps.

And thanks for releasing updates to this great app again :)

[2019-01-25 12:58] ajvsol commented on #34
Also should note that in that app's UX you could double-tap it to hide it for 10 seconds.

[2019-02-09 08:50] ReleaseTheKnowledge commented on #36
Alright. Maybe a button to select all while blacklisting.

Either only select all non system apps.
Or select all apps but with a warning.

What do you think about that? I feel that it should be encouraged to block as many apps as possible.

[2019-02-09 11:58] Avispa commented on #35
Yupp, same here: spend 5 minutes wondering why the lock button is not wokring. First tried to swipe arround, then tryied classic combinations like holding the *overview* button to find the settings, till finally came up with the idea to try the left drawer (harder); because It's a stupid phone with bend edges which doesn't go well with the screen protector.

[2019-02-09 12:18] Alikaraki95 commented on #36
I'll keep it in mind, thanks!

[2019-02-09 12:19] Alikaraki95 commented on #35
@Avispa Yeah, sorry about that. It was there, but when i fixed the Dark Theme i forgot to add it back. I'll try and do it in the next version :)

[2019-02-09 12:36] Avispa opened #37 "App list with their corresponding app icons"
Corresponding icons for the apps in the list for blocked apps. The list consists only of text (app names), which makes it kinda hard to distinguish them. (For some I don't even know the name, just the visual impression).

[2019-02-09 14:23] Alikaraki95 commented on #37
Yeah, I'll be working on this feature soon. I'm using a library for the list and I'll be making some custom additions to it.

[2019-03-07 05:18] rey501 commented on #13
Hello, it very good apps.
and as you mention this bug for "usage stats ( in Selected Apps screen )" , i resolved that as using following code

public class UStats {
........
........
private static void printUsageStats(List<UsageStats> usageStatsList, int j) {
           ..........
           .......
           /********add following code********/
                long TimeInforground=usageStatsLis

[2019-03-07 07:22] Alikaraki95 commented on #13
@rey501 Hey!

Thankyou so much for your contribution. I'll test this whenever i can this evening. Can you make a pull request? If not, I'll add you to the list of contributors when i replace my code with yours :)

[2019-03-07 10:54] rey501 commented on #13
Thank you.
As i am not very much aware of able to do pull request or not.
Could you please test this code and replace if all working fine ?

[2019-03-08 12:41] Alikaraki95 commented on #13
@rey501

I have a lot of things happening in life right now and i'm not going to be able to do changes and publish them. I will try and work as much as i can in my free time and will give feedback.

Thanks again!

[2019-03-31 17:02] Alikaraki95 commented on #35
- Fixed

Done: Changed home-screen text to better show that there is a drawer on the left side. I thought adding an action bar would just make it ugly since it will be empty.

[2019-03-31 17:02] #35 closed

[2019-03-31 17:03] Alikaraki95 commented on #18
Abandoned, closing for now.

[2019-03-31 17:03] #18 closed

[2019-04-14 18:09] Ashutosh-Kukreti opened #38 "Custom Lock Time"
Dear Developer,
Thank you for creating this wonderful app ,
It's good but I think a customizable option to block apps like youtube,facebook etc for certain duration of time like from 8pm to 5am will be very helpful.

[2019-04-14 18:28] Alikaraki95 commented on #38
@Ashutosh-Kukreti

Hey there!

Thanks for the feedback, really appreciate it. Unfortunately I'm having a lot of things to do in real life and I'm only working on this project in my very little spare time.

This feature has already been requested before, but thanks for mentioning it again. I'll try my best to implement as soon as possible.

Regards!

[2019-07-06 10:23] RAMAR-RAR opened #39 "Specific days"
Add an option that become avaiable an app in a specific day.

[2019-09-08 08:57] leela52452 opened #40 "[suggestion] move changelog to separate file"
i noticed changelog is part of README.
can you please commit or create it as Changelog.txt or Changelog.md or Changelog.rst.

[2019-09-18 10:10] leela52452 opened #41 "paypal link"
can you please change ur paypal which can be easily rememberd or bookmark

example `paypal.me/your-id`

[2019-09-18 11:01] Alikaraki95 commented on #41
@leela52452  Hey there! Sorry about that - I shall remove all donation parts from my links some day soon (Project has been halted for a very long time now )

I might add donation later on, but for the meantime it's not needed (much thanks tho!)

[2019-09-18 11:01] #41 closed

[2019-09-18 11:03] Alikaraki95 commented on #40
I might change that, nice suggestion. Thanks mate ^_^

[2019-10-04 01:00] Vel-San commented on #40
Done 5c4dbb7ac27886cd7d1015367f753e6cfe488e39 - Thanks.

[2019-10-04 01:00] #40 closed

[2019-11-06 13:18] Vel-San commented on #13
Unfortunalty the stats are a little off still ( couple of minutes or so , and sometimes correct. ) I'll have to leave this for a later time.

[2020-01-24 16:25] hungvu193 opened #42 "Doesnt work on xiaomi device (Android 9)"
It works on my pixel XL (Android 9) but doent work on my xiaomi phone (Android 9), after I choose options and press "LOCK SELECTED APPS!", It just show popup "Select at least 1 app" and no popup of list app was showed to selected app.

[2020-01-26 12:44] Vel-San commented on #42
Hey there. Sorry about that but the project has been almost discontinued from my side.. I have no time at the moment to develope/Fix anything in it.

Have you tried a fresh install and not missing any permissions?

Thanks for trying the app.

[2020-01-26 16:50] hungvu193 commented on #42
@Vel-San Thanks for you reply, I will test again and show you my logcat.

[2020-01-29 09:03] Codedotexe opened #43 "Unable to open sidedrawer with new gesture navigation"
Hi I really enjoy your app but I have problems opening the sidedrawer by swiping from the edge while using the new android 10 gesture navigation. Swiping from the left causes the gesture navigation to go back (as it should), so it is impossible to select any apps. I think the easiest fix is adding a small button for opening the drawer.

[2020-02-03 03:56] #42 closed